

* {
 /* background-image: url("https://wtov9.com/resources/media/14eff892-1d91-4a4d-a6e8-7e37d0f40cca-large16x9_GettyImages1200769096.jpg?1584841237704"); */
 /* background-repeat: round; */
 color: aliceblue;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: rgb(223, 219, 219);
  background-image: url("https://wtov9.com/resources/media/6d60feaa-9e0a-4f74-9ac3-fe2671a6733d-large16x9_GettyImages1203626286.jpg?1584668466722");
  background-repeat: round;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
   
}



.name {
  display: flex block;
}

.zip {
  display: flex block;
  margin: 3px;
}

.bigdata{
  margin: 5px;
  padding: 8px;
  display: inline-flex;
  /* flex-direction: column; */
}


.boxes{
  border: solid white 2px;
  margin: 5px;
  padding: 20px;
  width: 300px;
  background-color: rgb(0,0,0, .7);

}


.graph {
  
  margin: 5px;
  
}


.review {
  border: solid white 2px;
  margin: 5px;
  
}

.namebox{
  padding: 2px;
  margin: 7px;
  display: inline-block;
  
}

.zipCode {
  padding: 2px;
  margin: 7px;
  display: inline-block;
  color: black;
}

.symptoms {
  padding: 2px;
  margin: 7px; 
  display: inline-block;
  color: black;
}


button {
  display: inline-flex;
  padding: 3px;
  margin: 4px;
  border: solid #2852a0 2px;
  text-decoration: none;
  color: black;
  background-color: #f7f3f3;
  
}


/* button animations sourced from: https://emilkowalski.github.io/css-effects-snippets/  */
.textTransformX {
  color: hsl(222, 25%, 14%);
  transition: transform 0.2s ease, color 0.2s ease;
}

.textTransformX:hover {
  transform: translateX(4px);
  color: hsl(0, 0%, 0%);
}
  










/* Media Queries sourced from https://css-tricks.com/snippets/css/media-queries-for-standard-devices/ */

/* mobile */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* tablet */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Desktop/laptop */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}