

* {
  display: flexbox;

}

.header {
  text-align: center;
  background: rgb(66, 211, 53);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: rgb(223, 219, 219);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  display: inline-flex;
  padding: 3px;
  margin: 4px;
  border: solid #2852a0 2px;
  
}

.name {
  display: flex block;
  
}

.zip {
  display: flex block;
  margin: 3px;
}

.bigdata{
  border: solid black 2px;
  margin: 0 auto;
  padding: 8px;
  display: inline-flex;
}

.infecteddata{
border: solid black 2px;
margin: 5px;
padding: 20px;

}

.recovereddata{
  border: solid black 2px;
  margin: 5px;
  padding: 20px;
  
}

.deathdata {
  border: solid black 2px;
  margin: 5px;
  padding: 20px;
}

.graph {
  border: solid black 2px;
  margin: 5px;
}

.selector {
  border: solid black 2px;
  margin: 5px;
}

.review {
  border: solid black 2px;
  margin: 5px;
  
}

.namebox{
  padding: 2px;
  margin: 7px;
}

.zipCode {
  padding: 2px;
  margin: 7px;
}

.symptoms {
  padding: 2px;
  margin: 7px;
}